.setup {
  display: flex;
  gap: 3.125em;
  max-width: 800px;
  margin-inline: auto;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.1;
}

.section {
  flex-basis: 50%;
  padding-block: 3.125em;
  padding-inline: 1.5em;
  background-color: #fff;
  border-radius: 1.5em;
  box-shadow: 0 0 4.375em rgba(0, 0, 0, 0.1);
}

.heading {
  margin-top: 0;
  margin-bottom: 1.25em;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
}

.line {
  margin-bottom: 2.25em;
  height: 5px;
  border: none;
  background-color: #d7d7f9;
}

.totalPrice {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1.25em;
}

.total {
  margin-block: 0;
  font-weight: 700;
  line-height: 2;
}

.price {
  margin-block: 0;
  color: #6b00f5;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}
