.setup {
  display: flex;
  flex-direction: column;
  gap: 3.125em;
  max-width: 800px;
  margin-inline: auto;
}

.section {
  flex-basis: 50%;
  padding-block: 3.125em;
  padding-inline: 1.5em;
  background-color: var(--colour-white);
  border-radius: 1.5em;
  box-shadow: 0 0 4.375em rgba(0, 0, 0, 0.1);
}

.heading {
  margin-top: 0;
  margin-bottom: 1.25em;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
}

.line {
  margin-bottom: 2.25em;
  height: 5px;
  border: none;
  background-color: var(--colour-light-grey);
}

.totalPrice {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1.25em;
}

.total {
  margin-block: 0;
  font-weight: 700;
  line-height: 2;
}

.price {
  margin-block: 0;
  color: var(--colour-purple);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

@media screen and (min-width: 42em) {
  .setup {
    flex-direction: row;
    max-width: 800px;
    margin-inline: auto;
  }

  .section {
    flex-basis: 50%;
  }
}
