@use './mixins';
@use './variables';

#app {
  @include mixins.centre;
}

.timer {
  width: max-content;
}

.start-stop {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  width: max-content;
}

.gear {
  color: #585858;
}
