@use './mixins';
@use './variables';
@use './breakpoints';

#app {
  @include mixins.centre;
  background: radial-gradient(
    71.4% 71.4% at 51.7% 28.6%,
    #3a393f 0%,
    #17171a 100%
  );
  border-radius: 50%;
  box-shadow: inset 0px 0px 114px rgba(0, 0, 0, 0.45);
  padding-block: 3.25em;
  padding-inline: 4.25em;
  position: relative;
  row-gap: 1em;

  @include breakpoints.breakpoint-up(small) {
    padding-block: 4.25em;
    padding-inline: 4.75em;
    row-gap: 1.5em;
  }

  @include breakpoints.breakpoint-up(medium) {
    padding: 6.25em;
    row-gap: 2em;
  }
}

// Add box-shadow on before so it's below .border
#app::before {
  content: '';
  border-radius: 50%;
  box-shadow: -5px 14px 44px #000000, 5px -16px 50px rgba(255, 255, 255, 0.15);
  inset: 0;
  position: absolute;
  z-index: -1;
}

.border {
  border-radius: 50%;
  height: calc(100% + 0.75em);
  position: absolute;
  width: calc(100% + 0.75em);
  z-index: -1;

  // https://stackoverflow.com/questions/42234855/is-it-possible-to-draw-a-partial-circle-outline-in-css-open-ring-shape
  // https://stackoverflow.com/questions/40398592/how-to-set-different-colors-in-different-parts-of-stroke-in-html-svg
  circle {
    fill: none;
    stroke-width: 0.75em;

    &.black {
      stroke: #000000;
    }

    &.red,
    &.green {
      stroke-dasharray: 250;
      stroke-dashoffset: 425;
    }

    &.red {
      stroke: variables.$red;
    }

    &.green {
      stroke: variables.$green;
    }
  }
}

.timer {
  --font-size: 4.25rem;
  display: flex;
  font-size: var(--font-size);
  line-height: 1;

  @include breakpoints.breakpoint-up(small) {
    --font-size: 8.25rem;
  }

  @include breakpoints.breakpoint-up(medium) {
    --font-size: 12.25rem;
  }

  input {
    -moz-appearance: textfield;
    background-color: transparent;
    border: none;
    border-bottom: 2px dotted transparent;
    box-sizing: border-box;
    caret-color: #585858;
    caret-width: 1px;
    color: #fff;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    width: calc(var(--font-size) * 0.85);

    &.add-border {
      border-bottom: 2px dotted #585858;

      &:focus {
        outline: none;
      }
    }

    &#minutes {
      text-align: right;
    }
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

// Start stop and gear buttons
button {
  background: transparent;
  border: none;
  color: #585858;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #fff;
  }

  &:focus {
    outline: none;
  }
}

.start-stop {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.6em;
  line-height: 1.25;
  text-transform: uppercase;
  width: max-content;
}

.gear {
  height: 1.5rem;
  width: 1.5rem;
}
