@use './mixins';
@use './variables';

#app {
  @include mixins.centre;
  background: radial-gradient(
    71.4% 71.4% at 51.7% 28.6%,
    #3a393f 0%,
    #17171a 100%
  );
  border-radius: 50%;
  box-shadow: inset 0px 0px 114px rgba(0, 0, 0, 0.45);
  box-shadow: -5px 14px 44px #000000, 5px -16px 50px rgba(255, 255, 255, 0.15);
  padding: 6.25em;
  position: relative;
  row-gap: 1.5em;
}

#app::before {
  content: '';
  position: absolute;
  border: 0.5em solid #000000;
  border-left-color: variables.$red;
  border-right-color: variables.$red;
  border-top-color: variables.$red;
  border-radius: 50%;
  inset: 0;
  transform: rotate(325deg);
}

.timer {
  font-size: 12.25rem;
  line-height: 1;
  width: max-content;
}

.start-stop {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.6em;
  line-height: 1.25;
  text-transform: uppercase;
  width: max-content;
}

.gear {
  color: #585858;
  height: 1.5rem;
  width: 1.5rem;
}
