@use './mixins';
@use './variables';

@font-face {
  font-family: 'Bebas Neue - Book';
  src: url('../../fonts/bebasneue-book-webfont.woff2');
}

html {
  height: 100%;
}

body {
  @include mixins.centre;
  background-color: variables.$background;
  color: #fff;
  font-family: 'Bebas Neue - Book', sans-serif;
  height: 100%;
}
