.meal {
  --background-color: transparent;
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 1.25em;
  isolation: isolate;
}

.meal::before {
  content: '';
  position: absolute;
  width: 110%;
  height: 85%;
  top: 1em;
  left: 0.75em;
  border-radius: 1.25em;
  background-color: var(--background-color);
  z-index: -1;
}

.image {
  width: 150px;
  max-width: 100%;
  object-fit: cover;
}

.name {
  margin-top: 2.125em;
  margin-bottom: 0.9em;
  font-size: 1.125rem;
  font-weight: 400;
}

.price {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

.button {
  display: flex;
  align-items: center;
  gap: 0.5em;
  min-width: 140px;
  padding: 0.25em 1.125em;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  background-color: #6b00f5;
  border: none;
  border-radius: 1.25em;
  cursor: pointer;
}

.inCart {
  background-color: #000;
}
